body {
    background-image: url("../images/stardust.png");
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron{
	background-image: url("../images/meteor.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    color: white;
} 

.updates {
    color: aliceblue;
}